* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://cdn.awsli.com.br/1000x1000/77/77632/produto/58972623/a8df57c007.jpg");
  background-size: cover;
  background-position-y: 10px;
  font-family: sans-serif;
  font-size: 1em;
  color: rgba(36, 171, 233, 0.842);
  margin-left: 0%;
  margin-top: 0%;
  justify-content: center;
  height: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: 0%;
}

tr,
td {
  padding: 10px 20px;
  border: 1px solid #000000;
}

#ca {
  font-family: sans-serif;
  font-size: 1em;
  color: #000000;
  border-radius: 5px;
  min-height: 50%;
  width: 70%;
  background-color: rgb(255, 255, 255);
}

.f {
  border-style: ridge;
  background-color: rgb(250, 250, 250);
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
