<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script> 
    <link rel="stylesheet" type="text/css" href="t2.css" media="screen">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Wolk</title>
</head>
<body>
    
    <div id ="app">  
        <br>
        
        <ul class="nav justify-content-center">
     
            <div class="container-fluid">
                <h1 class="text-center">Wolk</h1>
                <p class="text-center">Armazenamento em Nuvem</p>
            </div>
            <br>
        <br>
        <fieldset class = "f">
            <form action="t3.html" method="post"> 
                <div class="mb-3"> 
                    <label for="nome" class="form-label"><strong>Nome:</strong></label><br>
                    <input type="text" name="nome" v-model ="nome" id="nome">
                </div>
                <br>
                <div class="mb-3"> 
                    <label for="email" class="form-label"><strong>Email:</strong></label><br>
                    <input type="email" name="email" v-model ="email" id="email">
                </div>
                <br>
                <div class="mb-3"> 
                    <label for="idade" class="form-label"><strong>Idade:</strong></label><br>
                    <input type="number" name="idade" v-model ="idade" id="idade">
                </div>
                <br>
                <strong>Serviços:</strong></br></br>
                            
                    <div class="form-check form-switch">
                        <input class="form-check-input"  type="checkbox" name="servi" v-model="servi" value = "Processamento - 1 micro - $ 1,00 por hora" />
                        <label class="form-check-label" for="1"> Processamento - 1 micro - $ 1,00 por hora</label><br />
                                
                    </div> 
                    <br>  
                    <div class="form-check form-switch"> 
                        <input class="form-check-input" type="checkbox" name="servi" v-model="servi" value="Processamento - 1 médio - $ 2,00 por hora" />
                        <label class="form-check-label" for="2" number="2.0"> Processamento - 1 médio - $ 2,00 por hora</label><br />  
                                
                    </div>
                    <br> 
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="servi" v-model="servi" value = "Processamento - 1 grande - $ 10,00 por hora" />
                        <label class="form-check-label" for="3"> Processamento - 1 grande - $ 10,00 por hora</label><br /> 
                                            
                    </div>
                    <br>
                    <div class="form-check form-switch">       
                        <input class="form-check-input" type="checkbox" name="servi" v-model="servi" value = "Armazenamento - 10 GB HD - $ 0,50 por hora" />
                        <label class="form-check-label" for="4"> Armazenamento - 10 GB HD - $ 0,50 por hora</label><br />
                                
                    </div>     
                    <br>
                    <div class="form-check form-switch"> 
                        <input class="form-check-input" type="checkbox" name="servi" v-model="servi" value = "Armazenamento - 10 TB HD - $ 1,00 por hora" />
                        <label class="form-check-label" for="5"> Armazenamento - 10 TB HD - $ 1,00 por hora</label><br /> 
                    </div>    
                    <br>
                    <div class="form-check form-switch"> 
                        <input class="form-check-input" type="checkbox" name="servi" v-model="servi"  value = "Armazenamento - 100 GB SSD - $ 5,00 por hora" />
                        <label class="form-check-label" for="6"> Armazenamento - 100 GB SSD - $ 5,00 por hora</label><br /> 
                    </div>
                    <br>
                    
                    <li> 
                        <button type="reset" class="btn btn-primary">Limpar</button>
                        
                        <button type="submit" v-on:@click="adds()" class="btn btn-primary">Enviar</button>   
                    </li>
                
                </form>    
        </fieldset>    
    </ul> 
    <br>

       

        <ul class="nav justify-content-center">    
            <table class="table" id="ca">
                <thead>
                  <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Idade</th>
                    <th scope="col">Serviços</th>
                
                </tr>
                </thead>
                <tbody>
                  <tr v-for="add in adds">
                    <td><p>{{add.nome}}</p></td>
                    <td><p>{{add.email}}</p></td>
                    <td><p>{{add.idade}}</p></td>
                    <td><p>{{add.servi}}</p></td>
                  </tr>
                </tbody>
            </table>      
            
            
        
        </ul> 

        
            
    </div>

    
    

    <script>
            
        const app = {
            data() {
                return { 
                
                nome: "",
                email: "",
                idade: "",
                servi: [],
                dados: []
                

                }
            }, 

            
            methods: {
               
                adds(){
                    this.dados.push({
                        nome: this.nome,
                        email: this.email,
                        idade: this.idade,
                        servi: this.servi
                    });

                    this.nome = "";
                    this.email = "";
                    this.idade = "";
                    this.servi = [];
            
                    this.save();
                },
                
                created(){
                    let data = localStorage.getItem("dados");
                    this.dados = JSON.parse(data);
                }
                
            },

            computed:{
                all(){
                    return this.dados.map(dado => ({dado}));
                }
            },

           watch:{
                save() {
                    localStorage.setItem("dados", JSON.stringify(this.dados));
                    
                    
                },
                dados(val) {
                    console.log('val', val)
                }    
            }
            
        };
        Vue.createApp(app).mount("#app");
                
                                
    </script>
</body>
</html>